= form_for [:florist, @product] do |f|
  .row
    .col-6
      .form-group
        = f.label :name, 'Название'
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :desc, 'Описание'
        = f.text_area :desc, rows: 5,  class: 'form-control'
      .row
        .form-group.col-4
          = f.label :price, 'Стандарт'
          = f.text_field :price, placeholder: 'Цена', class: 'form-control form-control-sm'
        .form-group.col-4
          = f.label :price, 'Премиум'
          = f.text_field :premium_price, placeholder: 'Цена', class: 'form-control form-control-sm'
        .form-group.col-4
          = f.label :price, 'Люкс'
          = f.text_field :lux_price, placeholder: 'Цена', class: 'form-control form-control-sm'
      .row
        .form-group.col-6
          = f.text_area :premium_desc, placeholder: 'Что в ходит в премиум букет',  class: 'form-control form-control-sm'
        .form-group.col-6
          = f.text_area :lux_desc, placeholder: 'Что входит в люкс букет', class: 'form-control form-control-sm'
      .form-group
        = f.label 'Изображение'
        = f.fields_for :images, Image.new do |i|
          = i.file_field :pic, class: 'form-control'
    .col-6
      %strong Параметры букета
      %hr.form-group
        = f.label 'Выберите цвет букета'
        .row
          = f.collection_check_boxes :color_ids, Color.all, :id, :name do |b|
            .form-check.col-6
              = b.check_box
              = b.text
      %hr.form-group
        = f.label 'Выберите тип букета'
        .row
          = f.collection_radio_buttons :type_ids, Type.all, :id, :name do |b|
            .form-check.col-6
              = b.radio_button
              = b.text
      %hr.from-group
        = f.label 'Выберите повод или добавьте свой'
        .row
          = f.collection_check_boxes :occasion_ids, Occasion.all, :id, :name do |b|
            .form-check.col-6
              = b.check_box
              = b.text
      .form-group
        = f.text_field :occasion_name, class: 'form-control', placeholder: 'Повод'

  .form-group.text-right
    = f.submit 'Добавить', class: 'btn btn-success'
