
.col-4
  .card
    .col-12.text-center
      - product.images.each do |image|
        = image_tag image.pic.url(:thumb), class: 'img-fluid card-image-top'
      .card-body
        %strong
          = product.name
        %br
        = number_to_currency(product.price, precision: 0)
        %br
        = number_to_currency(product.premium_price, precision: 0)
        %br
        = number_to_currency(product.lux_price, precision: 0)
        %br
        = link_to 'Редактировать', edit_florist_product_path(product)
        = link_to 'Удалить', florist_product_path(product), method: :delete
