.row
  #delivery
    - if params[:date].blank?
      = link_to @params.merge(date: :today), remote: true do
        .card
          %i.fa.fa-calendar-check-o
          %br
          Доставка сегодня
    - else
      = link_to @params.except(:date), remote: true do
        .card
          %i.fa.fa-times
          %br
          .reset
            Доставка сегодня
%hr
%h5 Цена
%ul.nav.small.flex-lg-column.flex-sm-row.flex-wrap.justify-content-between#product-menu
  - Product::PRICE_RANGE.each do |k, v|
    - if params[:price_in] == v
      %li.nav-item
        = link_to @params.except(:price_in), remote: true, class: 'nav-link' do
          %i.fa.fa-times
          .reset
            = k
    - else
      - unless params[:price_in]
        = link_to k, @params.merge(price_in: v),remote: true, class: 'nav-link'

%hr
%h5 Повод
%ul.nav.small.flex-lg-column.flex-sm-row.flex-wrap.justify-content-between#product-menu
  - Occasion.all.each do |o|
    - if params[:occasion] == o.name
      %li.nav-item
        = link_to @params.except(:occasion),remote: true, class: 'nav-link' do
          %i.fa.fa-times
          .reset
            = o.name.capitalize
    - else
      - unless params[:occasion]
        %li.nav-item
          = link_to o.name.capitalize, params.permit!.merge(occasion: o.name), remote: true, class: 'nav-link'
%hr
%h5 Цвет
%ul.nav.small.flex-lg-column.flex-sm-row.flex-wrap.justify-content-between#product-menu
  - Color.all.each do |color|
    - if params[:color] == color.name
      %li.nav-item
        = link_to @params.except(:color),remote: true, class: 'nav-link' do
          %i.fa.fa-times
          .reset
            = color.name.capitalize
    - else
      - unless params[:color]
        %li.nav-item
          = link_to color.name.capitalize, params.permit!.merge(color: color.name),remote: true, class: 'nav-link'

%hr
%h5 Тип букета
%ul.nav.small.flex-lg-column.flex-sm-row.flex-wrap.justify-content-between#product-menu
  - Type.all.each do |type|
    - if params[:type] == type.name
      %li.nav-item
        = link_to @params.except(:type), remote: true, class: 'nav-link' do
          %i.fa.fa-times
          .reset
            = type.name.capitalize
    - else
      - unless params[:type]
        %li.nav-item
          = link_to type.name.capitalize, params.permit!.merge(type: type.name),remote: true, class: 'nav-link'
%hr
- unless @params.blank?
  = link_to 'Очистить фильтр', @params.except(:color, :price_in, :type, :occasion, :date), remote: true, class: 'btn btn-success btn-block my-2'
