#product
  .card
    .card-image-top.text-center
      = link_to product_path(product) do
        - product.images.each do |i|
          = image_tag i.pic.url(:thumb), class: 'img-fluid img-cover'
    .card-body
      .d-flex.justify-content-between.align-items-center
        %span
          = product.name
        #price
          = number_to_currency(product.price, precision: 0)
      %hr.my-2
      = link_to company_path(product.company) do
        .row.align-items-center
          .col#company-img
            = image_tag product.company.image.pic(:small), class: 'img-fluid rounded-circle', style: 'width: 50px; height: 50px;'
          .col#company-desc.text-right
            .small
              = product.company.name
            .d-flex.flex-row.align-items-center.justify-content-between
              = total_rating_for product.company, readonly: true
              #count.pl-1.d-inline
                (#{product.company.comments.count})

