- cache @product do
  .container#account
    .row
      #product-img.mx-auto
        - @product.images.each do |i|
          = image_tag i.pic.url(:large), class: 'img-fluid img-thumbnail'
        .my-2.d-none.d-lg-block
          %strong
            Описание букета
          %p.small
            = @product.desc
      #product-desc.mx-auto
        .card
          %h3.card-title.text-center
            = @product.name
          .lead.text-success.text-center.font-weight-bold
            #product-price-simple
              = number_to_currency(@product.price)
            #product-price-premium.collapse
              = number_to_currency(@product.premium_price)
            #product-price-lux.collapse
              = number_to_currency(@product.lux_price)

          .card-body.justify-content-around.pt-0
            = form_tag add_to_cart_path(@product), method: :post do |f|
              .row#buttons.bg-light.py-3{data: {toggle: 'buttons'}}
                #first-btn.col-4.pr-1
                  = label_tag '', class: 'btn btn-outline-primary btn-lg btn-block active', id: "first" do
                    %span Как есть
                    = radio_button_tag :price_option, :simple, true, class: 'toggle'
                - if @product.premium_price
                  #second-btn.col-4.px-1
                    = label_tag '', class: 'btn btn-outline-primary btn-lg btn-block', id: "second"  do
                      %span Премиум
                      = radio_button_tag :price_option, :premium, false, class: 'toggle'
                - if @product.lux_price
                  #third-btn.col-4.pl-1
                    = label_tag '', class: 'btn btn-outline-primary btn-lg btn-block', id: "third"  do
                      = radio_button_tag :price_option, :lux, false, class: 'toggle'
                      %span Люкс
                .tabs.small.px-3
                  .tab.card-block.text-justify#simple
                    Букет будет выглядеть примерно как на фото
                  .tab.card-block.text-justify.collapse#premium
                    = @product.premium_desc
                  .tab.card-block.text-justify.collapse#lux
                    = @product.lux_desc
              %hr
              .row
                .col-12
                  = submit_tag 'оформить заказ', class: 'btn btn-success btn-lg btn-block text-uppercase'
              .mt-3.small.font-italic

                %i.fa.fa-clock-o
                %span.text-primary
                  Нужен сегодня?
                - if @product.company.closed_at && @product.company.opened_at
                  = @product.company.opened_interval
        .d-flex.align-items-center.justify-content-end
          .d-flex.mr-3.align-self-start
            .font-italic
              Designed by
          #company-img.d-flex
            = image_tag @product.company.image.pic.url(:small), class: 'img-fluid rounded-circle', style: 'width: 100px; height: 100px;'
          #company-desc.d-flex.ml-3.text-right
            %h4.mt-0
              = @product.company.name

              = total_rating_for @product.company, readonly: true
              .mt-2
                = link_to 'В магазин', company_path(@product.company), class: 'btn btn-sm btn-outline-primary'


