.container-fluid
  .shop-header.py-5.bg-inverse.text-white
    .container
      .row
        #company-logo
          = image_tag @company.image.pic.url(:thumb), class: 'img-fluid rounded img-cover'
        #company-info
          %h3
            = @company.name
          #rate
            Доставка:
            = rating_for @company, 'delivery_speed', readonly: true
          #rate
            Качество:
            = rating_for @company, 'flowers_quality', readonly: true
        #company-contacts.text-right.hidden-sm-down
          %h4
            Связаться
          .h5
            + 7 3412 4614168
          .h3
            = link_to '' do
              %i.fa.fa-vk.px-1{data:{toggle: 'tooltip', placement: 'bottom'}, title: 'Вконтакте', tabindex: "0"}
            = link_to '' do
              %i.fa.fa-instagram.px-1{data:{toggle: 'tooltip', placement: 'bottom'}, title: 'Instagram', tabindex: "0"}
            = link_to '' do
              %i.fa.fa-facebook-official.px-1{data:{toggle: 'tooltip', placement: 'bottom'}, title: 'Facebook', tabindex: "0"}
            = link_to '' do
              %i.fa.fa-globe.px-1{data:{toggle: 'tooltip', placement: 'bottom'}, title: 'Сайт флориста', tabindex: "0"}
  .shop-menu.bg-faded
    .container
      .row.mb-5
        .col-2.hidden-lg-down
        #company-nav
          %ul.nav.nav-tabs.pt-2.h5
            %li.nav-item
              = link_to '#products', data: {toggle: 'tab'},  class: 'nav-link active' do
                Каталог
            %li.nav-item
              = link_to '#comments', data: {toggle: 'tab'}, class: 'nav-link' do
                Отзывы (#{@company.comments.count})

  .shop-content
    .container
      .row
        .col-2.hidden-md-down#menu
          = render 'customer/products/products_menu'
        .col-lg-10.col-sm-12.col-xs-12.col-md-12.tab-content
          .row.tab-pane.active#products
            .col-12.hidden-md-up
              = render 'layouts/resp_menu'
            .card-deck
              = render collection:  @products, partial: 'customer/products/thumb_product', as: :product
          .row.tab-pane.collapse#comments
            .card-deck
              = render @comments
            #write-review
              %h4 Пожалуйста, оцените компанию
              - if current_user
                Качество букета:
                #rate
                  = rating_for_user @company,current_user, 'flowers_quality', disable_after_rate: false
                %br
                Качество доставки:
                #rate
                  = rating_for_user @company, current_user, 'delivery_speed',disable_after_rate: false, cancel: false
                = form_for [@company, Comment.new] do |f|
                  .form-group
                    = f.label :desc, 'Ваш отзыв'
                    = f.text_area :desc, rows: 5, class: 'form-control'
                  .form-group.text-right
                    = f.submit 'Оставить отзыв', class: 'btn btn-success'
              - else
                Чтобы оставлять комментарии необходимо
                = link_to 'войти', login_path
