
= form_for [:florist, @company] do |f|
  - if @company.errors.any?
    %ul
      - @company.errors.full_messages.each do |msg|
        %li= msg
  .row
    .col-lg-6.col-sm-12
      .form-group
        = f.label :name, 'Название'
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :desc, 'Описание'
        = f.text_area :desc, rows: 3, class: 'form-control'
      .form-group
        = f.label 'Адрес магазина'
        = f.fields_for :address do |af|
          = af.text_field :street, class: 'form-control', placeholder: 'Улица'
          = af.text_field :house, class: 'form-control', placeholder: 'Дом'
          = af.text_field :flat, class: 'form-control', placeholder: 'Офис'
      .form-group
        = f.label 'Часы работы'
        %br
        = f.time_select :opened_at,{ignore_date: true, minute_step: 30}, {class: 'form-control', style: 'max-width: 20%; display: inline;'}
        %span -
        = f.time_select :closed_at, {ignore_date: true, minute_step: 30}, {class: 'form-control', style: 'max-width: 20%; display: inline;'}

    .col-lg-6.col-sm-12
      .form-group
        = f.label 'Логотип'
        = f.fields_for :image, Image.new do |i|
          = i.file_field :pic, class: 'form-control'
      .form-group
        = f.label :vk_url, 'Ссылка на группу ВК'
        = f.text_field :vk_url, class: 'form-control'
      .form-group
        = f.label :fb_url, 'Ссылка на страницу ФБ'
        = f.text_field :fb_url, class: 'form-control'
      .form-group
        = f.label :insta_url, 'Ссылка на Instagram'
        = f.text_field :insta_url, class: 'form-control'

  .form-group.text-right
    = f.submit 'Добавить', class: 'btn btn-success'
