.container#account
  .row
    = render 'florist/dashboard/left_menu'
    .user-info
      - unless @company
        %h3
          У вас пока нет магазина
          %p
          = link_to 'Добавить магазин', new_florist_company_path, class: 'btn btn-primary'
      - else
        %h4
          = @company.name
          %small
            = link_to edit_florist_company_path(@company) do
              %i.fa.fa-pencil-square-o.mx-3
            = link_to named_company_path(@company), target: '_blank' do
              %i.fa.fa-globe.mx-3
        = total_rating_for @company, readonly: true
        %p
          %h5 Статистика за неделю:
          %p
            Заказов
          %p
            Просмотров


        = link_to 'Отзывы', company_path(@company, anchor: 'comments'), class: 'btn btn-primary'

        / %p
        /   = link_to 'Удалить', florist_company_path(@company), method: :delete, class: 'btn btn-danger btn-sm'
