#address-form
  = f.fields_for :address do |a|
    .form-group
      / = a.label :street, 'Улица'
      = a.text_field :street, class: 'form-control', placeholder: 'Улица'
    .form-group
      / = a.label :house, 'Дом'
      = a.text_field :house, class: 'form-control', placeholder: 'Дом'
    .form-group
      / = a.label :flat, 'Квартира'
      = a.text_field :flat, class: 'form-control', placeholder: 'Квартира'
  .row
    .form-group.col-12#slider_call
      = f.check_box :dont_call
      = f.label :dont_call, 'Не звонить получателю', class: 'd-flex align-items-center'
      .small#info{style: 'display: none;'}
        Курьер привезет букет по указанному адресу. Если получателя по указанному адресу не будет, курьер ожидает 15 минут и букет возвращается в салон.



