= form_for @checkout, method: :post do |f|
  .container.my-4
    .row
      .col-12
        %ul.nav.nav-tabs.justify-content-center.nav-fill#checkout-menu
          %li.nav-item
            = link_to '#card', data:{toggle: 'tab'}, class: 'nav-link active', disabled: true do
              Адрес
              %i.fa.fa-chevron-right.ml-2
          %li.nav-item
            = link_to '#address', data:{toggle: 'tab'}, class: 'nav-link disabled', id: 'options' do
              Опции
              %i.fa.fa-chevron-right.ml-2
          %li.nav-item
            .nav-link Итог
    .row.my-3
      .tab-content.col-sm-12.col-xs-12.col-lg-8
        .tab-pane#card.active
          %h3
            Информация для доставки
            %hr.my-1
          .my-3
            .row
              .col-12
                %ul.nav.nav-pills.small
                  %li.nav-item
                    = f.label :delivery_send,  class: 'btn btn-outline-primary btn-sm active', id: '#delivery_method', data: {target: '#send'} do
                      %span Доставка
                      = f.radio_button :delivery, :send, class: 'toggle', checked: true
                  %li.nav-item
                    = f.label :delivery_self, class: 'btn btn-outline-primary btn-sm ml-1', id: '#delivery_method', data: {target: '#self'} do
                      %span Самовывоз
                      = f.radio_button :delivery, :self, class: 'toggle'
            .row
              .tab-content.col-12
                .row
                  .col-12#sender
                    .my-2
                      %strong
                        Заказчик
                    = render partial: 'user_form', locals: {f: f}
                .tab-pane.active#send
                  .row
                    .col-12#reciever
                      .my-2
                        %strong
                          Получатель
                      = render partial: 'receiver_form', locals: {f: f}
                      = render partial: 'address_form', locals: {f: f}
                .tab-pane.collapse#self
                  .row
                    .my-2.col-12
                      / = render partial: 'user_form', locals: {f: f}
            .row
              .h5.col-12 Дата и время
              .form-group.col-12
                .row.align-items-center.justify-content-between
                  .col-6
                    = f.text_field :order_date, class: 'form-control', id: 'datepicker'
                  .col-6.text-center.pl-0
                    = f.time_select :order_time, {ignore_date: true, minute_step: 10}, {class: 'form-control', style: 'max-width: 45%; display: inline;'}
          = link_to 'Продолжить','#', class: 'btn btn-success btn-lg', id: 'next'
        .tab-pane#address
          .h5.d-flex.align-items-center#card-toggle{data:{toggle: 'collapse', target: '#card-form'}, style: 'cursor: pointer;'}
            %i.fa.fa-toggle-off
            Добавить открытку
          .my-3.collapse#card-form
            = render partial: 'card_form', locals: {f: f}
          = f.submit 'Продолжить', class: 'btn btn-success btn-lg'
