.container.my-4
  .row
    .col-12
      %ul.nav.nav-tabs.justify-content-center.nav-fill#checkout-menu
        %li.nav-item
          = link_to '#card', data:{toggle: 'tab'}, class: 'nav-link disabled' do
            Адрес
            %i.fa.fa-chevron-right.ml-2
        %li.nav-item
          = link_to '#address', data:{toggle: 'tab'}, class: 'nav-link disabled', id: 'options' do
            Опции
            %i.fa.fa-chevron-right.ml-2
        %li.nav-item
          .nav-link.active Итог
  .row
    .col-12
      %h2.mt-4.text-center Ваш заказ
      %hr.mb-4
      .row
        - @checkout.cart.products.each do |p|
          #product-img
            = image_tag p.images.first.pic(:large), class: 'img-fluid'
          #product-desc
            .card.p-4
              %h4.card-title.text-center
                = p.try(:name)
                .small
                  - @checkout.cart.balloons.each do |b|
                    +
                    = b.try(:desc)
                  .text-success.my-1
                    = number_to_currency(@checkout.cart.total_price)
              .card-block.text-justify
                - case @checkout.delivery
                - when 'self'
                  .row
                    .col-4
                      Самовывоз:
                    %strong.col-8.text-right
                      = p.company.address.street
                      = p.company.address.house
                      = p.company.address.flat if p.company.address.flat
                - when 'send'
                  - if @checkout.receiver
                    .row
                      .col-4
                        Доставка для
                      %strong.col-8.text-right
                        #{@checkout.receiver.name} (#{@checkout.receiver.phone})
                    %hr.my-1
                  - if @checkout.call_receiver
                    Мы позвоним получателю и уточним адрес доставки
                    %hr.my-1
                  - else
                    .row
                      .col-4
                        по адресу:
                      %strong.col-8.text-right
                        = @checkout.address.street
                        = @checkout.address.house
                        = @checkout.address.flat if @checkout.address.flat
                    %hr.my-1
                .row
                  .col-4
                    Дата:
                  %strong.col-8.text-right
                    #{Russian::strftime(Time.zone.parse(@checkout.order_date), '%d %B (%A)')}, #{@checkout.order_time.strftime('примерно в %H:%M')}
                -if @checkout.card.desc.present?
                  %hr.my-1
                  %i.fa.fa-check
                  Добавить открытку
                - if @checkout.dont_call
                  .my-1
                    %i.fa.fa-check
                    Не звонить получателю
                %hr.my-4
                = button_to 'Отправить заказ', create_order_path, class: 'btn btn-success btn-block btn-lg'
                .text-center
                  или
                  = link_to 'отредактировать заказ', edit_checkout_path(@checkout)
                .small.text-center
                  Если мы все поняли правильно, нажмите "Отправить заказ" и мы отправим заявку флористу.
                  Он свяжется с вами в ближайшее время для уточнения деталей.
