#header
  .container
    .row.align-items-center
      %nav.navbar.navbar-expand-lg.col-12.no-gutters
        = link_to products_path, class: 'navbar-brand' do
          = image_tag 'logo.png', class: 'img-fluid'
        %button.navbar-toggler.align-self-center{data: {toggle: "collapse", target: "#navbar"} }
          %i.fa.fa-bars
        #navbar.collapse.navbar-collapse.text-left.justify-content-end
          %ul.navbar-nav.align-items-center
            - unless current_user
              .d-none.d-lg-block
                = link_to 'Вход/Регистрация', login_path, class: 'nav-link btn btn-outline-success d-inline'
                = link_to 'Я флорист', florist_signin_path, class: 'nav-link btn btn-outline-success d-inline'
              .d-lg-none.d-md-block.align-self-start
                %li.nav-item
                  = link_to 'Вход/Регистрация', login_path, class: 'nav-link'
                %li.nav-item
                  = link_to 'Я флорист', florist_signin_path, class: 'nav-link'
            - else
              %li.nav-item.dropdown.hidden-md-down
                %a.dropdown-toggle{data:{toggle: 'dropdown'}}
                  Мой аккаунт
                .dropdown-menu
                  %h4.dropdown-header
                    Здравствуйте,
                    - unless current_user.name.blank?
                      = current_user.name
                    - else
                      = current_user.email
                    .dropdown-divider
                  - unless @cart.positions.blank?
                    .dropdown-item
                      = link_to my_cart_path do
                        %i.fa.fa-shopping-cart
                        Корзина
                  - case current_user.role
                  - when 'customer'
                    .dropdown-item
                      = link_to account_path do
                        %i.fa.fa-user-o
                        Личная информация
                    .dropdown-item
                      = link_to '#' do
                        %i.fa.fa-history
                        История заказов
                    .dropdown-item
                      = link_to '#' do
                        %i.fa.fa-address-card-o
                        Адресная книга
                  - when 'florist'
                    .dropdown-item
                      = link_to florist_account_path do
                        %i.fa.fa-user-o
                        Личный кабинет

                  .dropdown-divider
                  .dropdown-item
                    = link_to logout_path, method: :delete do
                      %i.fa.fa-sign-out
                      Выйти
              .hidden-lg-up.align-self-start
                %li.nav-item
                  - case current_user.role
                  - when 'customer'
                    = link_to account_path, class: 'nav-link' do
                      %i.fa.fa-user-o
                      Личная информация
                  -when 'florist'
                    = link_to florist_account_path, class: 'nav-link' do
                      %i.fa.fa-user-o
                      Личный кабинет
                - unless @cart.positions.blank?
                  %li.nav-item
                    = link_to my_cart_path, class: 'nav-link' do
                      %i.fa.fa-shopping-cart
                      Корзина
              %li.nav-item.align-self-start
                = link_to 'Помощь', '', class: 'nav-link'
              %li.nav-item.align-self-start
                = link_to 'Выйти', logout_path, method: :delete, class: 'nav-link'
